.Content {
  height: 100%;
}

.Content-main {
  padding: 0.1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 14rem;
  min-height: 100%;
}

.Content-left,
.Content-right {
  position: relative;
  margin-top: 12%;
}
.Content-left {
  width: 75%;
  min-height: 100%;
}

.Content-right {
  margin-left: 0.15rem;
  width: 25%;
  min-height: 100%;
}

/* ------------- 文章置顶区 ------------- */
.Content-article-top {
  width: 100%;
  height: 4rem;
  border-radius: 0.15rem;
  background: var(--card-item);
}

.Content-article-top:hover {
  transition: 1s;
  box-shadow: 0 0 0.15rem var(--text-hover);
}

.Content-article-top,
.Content-article-list {
  margin-bottom: 0.3rem;
  display: flex;
  border-radius: 0.15rem;
  background: var(--card-item);
  user-select: none;
}

/* 文章列表项的左右布局 */
.Content-article-left,
.Content-article-right {
  width: 50%;
  border-radius: 0.15rem;
  overflow: hidden;
}

/* ------------- 文章列表项的左区域 ------------- */

/* 文章列表标题的背景图片 */
.Content-article-img {
  width: 100%;
  height: 100%;
  border-radius: 0.15rem;
  transition: 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 图片绽放 */
.Content-article-top:hover .Content-article-img,
.Content-article-list:hover .Content-article-img {
  transform: scale(1.2);
}

/* ------------- tags区 ------------- */
.Content-article-tags {
  padding-top: 0.1rem;
  width: 100%;
  font-size: 0.15rem;
  line-height: 1.5;
}

.Content-article-tags > p {
  display: inline;
  margin-right: 0.05rem;
  color: var(--text-tags);
}

/* 是否置顶,显此图标 */
.Content-article-tags ion-icon {
  transform: translateY(15%);
}

.Content-article-tags .Content-article-istop {
  color: orange;
}

/* ------------- 文章列表项的右区域 ------------- */
.Content-article-right {
  padding: 0.1rem 0.2rem;
}
.Content-article-title {
  font-size: 0.3rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: justify;
  transition: 0.5s;
  padding: 0.05rem 0;
}

.Content-article-title:hover {
  color: var(--text-hover);
}

/* 文章内容简介 */
.Content-article-describe {
  padding-top: 0.1rem;
  font-size: 0.17rem;
  font-weight: 550;
  line-height: 1.6;
  text-align: justify;
}

/* 说说 、最近文章 、标签 、归档*/
.Content-right-saysay,
.Content-right-latest-article,
.Content-right-tags,
.Content-right-file {
  padding: 0.2rem;
  margin-bottom: 0.25rem;
  border-radius: 0.15rem;
  background: var(--card-item);
  user-select: none;
}

.Content-right-header {
  padding-bottom: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.2rem;
  font-weight: 660;
}

.Content-right-saysay:hover,
.Content-right-latest-article:hover,
.Content-right-tags:hover,
.Content-right-file:hover {
  transition: 1s;
  box-shadow: 0 0 0.15rem var(--text-hover);
}

.Content-right-saysay-ul > li,
.Content-right-latest-article-ul > li {
  margin-bottom: 0.15rem;
  padding: 0rem 0.1rem;
  transition: 1s;
  border-radius: 0.05rem;
  letter-spacing: 0.01rem;
  text-align: justify;
}

/* 说说 */
.Content-right-saysay {
  height: 3.6rem;
}

/* 最近文章 */
.Content-right-latest-article {
  line-height: 1.5;
}

.Content-right-latest-article-ul > li:hover {
  color: var(--text-hover);
}

.Content-right-latest-article-ul > li > p {
  font-size: 0.14rem;
}

/* 标签 */
.Content-right-tags {
  display: flex;
  flex-wrap: wrap;
}

.Content-right-tags > span {
  margin: 0 0.1rem;
  line-height: 1.7;
  transition: 0.5s;
  color: var(--text-tags);
}

.Content-right-tags > span:nth-of-type(even) {
  font-size: 0.22rem;
  font-weight: 660;
  color: #99a9bf;
  transition: 0.5s;
}

.Content-right-tags > span:hover {
  color: var(--text-hover);
  transform: scale(1.2);
  cursor: pointer;
}

/* 归档  */
.Content-right-file-ul > li {
  margin-bottom: 0.1rem;
  padding: 0.05rem 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  border-radius: 0.05rem;
}

.Content-right-file-ul > li:hover {
  background: var(--text-hover);
  padding: 0.05rem 0.2rem;
}

.Content-right-header > span:nth-child(2) {
  cursor: pointer;
}
/* ------------- 侧边信息区域 ------------- */
.Content-right-saysay > ul,
.Content-right-latest-article > ul,
.Content-right-file > ul {
  list-style: none;
}

@media all and (max-width: 1400px) {
  .Content-main {
    width: 98%;
    margin: auto;
  }
}

@media all and (max-width: 768px) {
  .Content-main {
    width: 96%;
    margin: auto;
  }

  .Content-left {
    width: 100%;
  }

  .Content-right {
    position: absolute;
    right: 0;
    margin: 0;
    transform: translateX(100%);
    transition: 1s;
  }
}
