.Home {
  display: block;
  -ms-overflow-style: none;
  width: 100%;
  height: 100%;
  background: url('/src/assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Home-main {
  width: 100%;
  height: 100%;
}

.Home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.5rem;
}