.Project {
  height: 100%;
  user-select: none;
}

.Project-main {
  padding: 0.1rem;
  margin: auto;
  max-width: 14rem;
  min-height: 100%;
}

/* ------------------  横幅  -------------------- */
.Project-banner {
  margin: 12% auto;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.2rem;
  height: 4.8rem;
  user-select: none;
}

.Project-banner .Project-banner-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.15rem;
  overflow: hidden;
  transition: 1s;
}

.Project-banner .Project-banner-item:hover {
  box-shadow: 0 0 0.15rem var(--text-hover);
}

.Project-banner .Project-banner-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.Project-banner .Project-banner-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* 项目信息背景图片 */
.Project-banner-item>div:nth-child(1) {
  width: 100%;
  height: 100%;
  transition: 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Project-banner-item:hover>div:nth-child(1) {
  transform: scale(1.2);
}

/* 项目信息 */
.Project-banner-item .Project-banner-item-info {
  position: absolute;
  bottom: 0;
  padding: 0.2rem;
  width: 90%;
}

/*  tags */
.Project-banner-item-tags>span {
  margin-right: 4%;
  font-size: 0.12rem;
  font-weight: 660;
}

/* 标题 */
.Project-banner-item-title {
  margin: 0.1rem auto;
  font-size: 0.3rem;
  font-weight: 660;
}

.Project-banner .Project-banner-item:nth-child(3) .Project-banner-item-title,
.Project-banner .Project-banner-item:nth-child(4) .Project-banner-item-title {
  font-size: 0.2rem;
}

.Project-banner-item-title:hover {
  text-decoration: underline;
}

/* 时间 */
.Project-banner-item-time {
  font-size: 0.14rem;
  font-weight: 550;
}

/* ------------------  更多项目  -------------------- */
/* .Project-more {
} */
.Project-more-nav {
  margin: 0.5rem auto;
}

.Project-more-nav,
.Project-more-nav-right {
  display: flex;
  justify-content: space-between;
  height: 0.5rem;
}

.Project-more-nav-left {
  font-size: 0.28rem;
  font-weight: 660;
  line-height: 0.5rem;
}

.Project-more-nav-right>div {
  margin-left: 0.15rem;
  width: 1.5rem;
  text-align: center;
  line-height: 0.5rem;
  font-weight: 660;
  border-radius: 0.15rem;
}

.Project-more-nav-right>div:nth-child(1) {
  background: rgb(30 144 255);
}

.Project-more-nav-right>div:nth-child(2) {
  background: rgb(46 213 115);
}

.Project-more-nav-right>div:nth-child(3) {
  background: rgb(243 156 18);
}

/* 主体内容 */
.Project-more-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 3.2rem);
  grid-gap: 0.2rem;
}

.Project-more-item {
  position: relative;
  border-radius: 0.15rem;
  transition: 0.5s;
}

.Project-more-item:hover {
  box-shadow: 0 0 0.15rem var(--text-hover);
}


/* 封面图片 */
.Project-modre-item-cover {
  position: relative;
  height: 2rem;
  overflow: hidden;
  border-radius: 0.15rem;
}

.Project-modre-item-cover>div {
  height: inherit;
  border-radius: 0.15rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
}


.Project-modre-item-cover:hover div {
  transform: scale(1.2);
}

.Project-modre-item-cover .Project-modre-item-tags {
  position: absolute;
  left: 3%;
  bottom: 15%;
  padding: 0.01rem 0.1rem;
  font-size: 0.12rem;
  font-weight: 550;
  background: rgb(46 213 115);
  backdrop-filter: blur(10px);
  border-radius: 0.08rem;
}


/* 项目信息 */
.Project-more-item-info {
  position: relative;
  top: 7.5%;
  padding: 0 0.15rem;
}

.Project-more-item-info>p {
  font-size: 0.20rem;
  font-weight: 660;
}

.Project-more-item-info>p:hover {
  text-decoration: underline;
}

.Project-more-item-info>span {
  font-size: 0.14rem;
  font-weight: 550;
}

@media all and (max-width: 768px) {
  .Project-main {
    width: 96%;
    margin: auto;
  }
}

@media all and (max-width: 414px) {}