.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
  transition: top 0.8s;
  box-sizing: border-box;
  box-shadow: 0 0 0.05rem #e0e0e0;
  z-index: 9;
}
.App-header.active {
  box-shadow: none;
}
/* 页面导航栏上拉显示下拉隐藏 */
.App-header-hide {
  top: -0.6rem;
}

.App-Logo {
  font-size: 0.25rem;
  font-weight: 660;
  font-family: '幼圆';
  cursor: pointer;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.6rem;
  padding: 0 0.3rem;
  box-sizing: border-box;
}

.App-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.App-menu > li {
  position: relative;
  margin: 0 0.2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.18rem;
  font-weight: bolder;
  text-align: center;
}

.App-menu ion-icon {
  --ionicon-stroke-width: 60px;
}

.App-menu > li:hover > p {
  color: var(--text-hover);
}

.App-menu > li > p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-bottom: 0.03rem solid var(--text-hover);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
}

.App-menu > li:hover p::before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1) translateY(-20%);
}

.App-menu > li:hover .App-sub-menu {
  transform: translateY(0%);
}

.App-sub-menu {
  position: absolute;
  left: -78%;
  transform: translateY(-150%);
  transition: 0.6s;
  list-style: none;
}

.App-sub-menu > li,
.App-sub-menu > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.9rem;
  height: 0.45rem;
  transition: 0.4s;
  margin-bottom: 0.05rem;
  border-radius: 0.1rem;
  border: 0.01rem solid transparent;
  background: var(--card);
  user-select: none;
}

.App-sub-menu > li > span,
.App-sub-menu > a > span {
  margin: 0 0.04rem;
}

.App-sub-menu > li > span:nth-child(1),
.App-sub-menu > a > span:nth-child(1) {
  transform: translateY(2px);
}

.App-sub-menu > li > span:nth-child(3),
.App-sub-menu > a > span:nth-child(3) {
  display: none;
}

.App-sub-menu > li:hover,
.App-sub-menu > a:hover {
  border: 0.01rem solid;
}

.App-hamburger {
  display: none;
}

.App-hamburger > span {
  display: block;
  width: 18px;
  height: 2px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--hamburger);
}

@media all and (max-width: 768px) {
  .App-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    background: var(--nav-background);
  }

  /* 遮罩 */
  .App-menu-mask {
    position: fixed;
    top: 0;
    left: -100%;
    width: 25%;
    height: 100%;
    transition: 0.2s;
    background: #09090cc9;
  }

  .App-menu.active {
    right: 0;
  }

  .App-menu.active-dark {
    right: 0;
    background: #121212;
  }

  .App-menu.active-light {
    right: 0;
    background: #f6f8fa;
  }

  .App-menu-mask.active {
    left: 0;
  }

  .App-hamburger {
    display: block;
    cursor: pointer;
  }

  .App-hamburger.active {
    display: none;
  }

  .App-menu > li {
    left: 50%;
    /* margin: 10% 0 35% 0%; */
    margin: 50px 0 160px 0;
    width: 100%;
    text-align: left;
    font-size: 14px !important;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  }

  .App-menu > li > p {
    margin: auto;
    width: 76%;
    color: var(--text-hover);
    font-size: 14px !important;
  }

  .App-menu > li:hover p::before {
    transform: scale(0) translateY(10%);
  }

  .App-menu > li:hover .App-sub-menu {
    transform: translateY(2.5%);
  }

  /* 去掉搜索 */
  .App-menu > li:nth-child(1) {
    display: none;
  }

  .App-sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 5%;
    width: 90%;
    height: 200px;
    border-radius: 0.25rem;
    background: var(--card);
    transform: translateY(2.5%);
    overflow: hidden;
  }



  .App-sub-menu > li,
  .App-sub-menu > a {
    flex: 1;
    width: 90%;
    overflow: hidden;
    background: var(--card);
    border-radius: 0.25rem;
    border: 0rem solid transparent;
  }

  .App-sub-menu > li > span:nth-child(1),
  .App-sub-menu > a > span:nth-child(1) {
    display: none;
  }

  .App-sub-menu > li > span:nth-child(2),
  .App-sub-menu > a > span:nth-child(2) {
    display: inline-block;
    width: 90%;
  }

  .App-sub-menu > li > span:nth-child(3),
  .App-sub-menu > a > span:nth-child(3) {
    display: inline-block;
    color: var(--text-tags);
    font-weight: bolder;
  }

  .App-sub-menu > li:hover,
  .App-sub-menu > a:hover {
    border: 0rem solid;
  }

  .App-menu ion-icon {
    --ionicon-stroke-width: 35px;
  }
}

@media all and (max-width: 550px) {
  .App-menu > li > p {
    width: 77%;
  }
}
@media all and (max-width: 450px) {
  .App-menu > li > p {
    width: 77.5%;
  }
}
