.App-paging {
  position: relative;
  left: 50%;
  padding: 0.4rem;
  width: 3.5rem;
  height: 0.5rem;
  transform: translateX(-50%);
  user-select: none;
  color: var(--text-tags);
}

.App-paging,
.App-paging-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-paging-pre,
.App-paging-next {
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0.3rem;
  font-weight: 666;
  text-align: center;
  line-height: 0.35rem;
  border-radius: 50%;
  transition: 0.5s;
}

.App-paging-pre:hover,
.App-paging-next:hover {
  transform: scale(1.2);
}

.App-paging-content {
  width: 1.2rem;
  height: auto;
  font-weight: 660;
  text-align: center;
}