.App-footer {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0.2rem 0;
  font-weight: 550;
  color: var(--text-tags);
  background: var(--theme);
  overflow: hidden;
  user-select: none;
  z-index: 8;
}

.App-footer a {
  color: var(--text-tags);
}

.App-footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.App-footer-tabs {
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
  border-bottom: 1px solid;
}

.App-footer-tabs-title {
  font-weight: bold !important;
  color: var(--text-color) !important;
}

.App-footer-tabs>nav>ul {
  list-style: none;
}

.App-footer-tabs ul>li {
  margin: 20% auto;
}

.App-footer-tabs ul>li>p:hover,
.App-footer-tabs ul>li>a:hover {
  text-decoration: underline var(--text-hover);
}


.declaration-and-filing {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
}